body {
    background-color: #111318;
    font-family: sans-serif;
    padding: 20px;
}
h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, p {
    color: #88a0af;
    text-align: center;
}

.host {
    font-style: italic;
    font-size: 12px;
}

.main-content {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-block {
    width: 90%;
    background-color: #1b1d24;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 80%;
}

hr {
    height: 2px;
    background-color: #1f74b1;
    border-color: #1f74b1;
    margin-top: 30px;
}

/*FOOTER*/

footer {
    font-size: 14px;
}

.meme {
    margin-bottom: 5px;
}

a {
    color: #7d97a8;
}
a:visited {
    color: #7d97a8;
}

a:hover {
    color: #1f74b1;
}

a:active {
    color: #1f74b1;
}