* {
    box-sizing: border-box;
}

main {
    position: relative;
}

body {
    background-color: rgb(10, 15, 28);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0px;
}

p {
    text-align: center;
    font-size: 20px;
}

/* General button */

.button {
    width: 80px;
    height: 40px;
    background-color: rgb(31, 116, 177);
    color: rgb(255, 255, 255);
    border-radius: 8px; /*roundness of button*/
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*HEADER*/

.page-header-container, .page-header-container::after {
    position: fixed;
    width: 100%;
    height: 88px;
    margin: auto;
    background-color: /*rgb(34, 56, 80)*/ orange;
}

.page-header-container::after{
    content: '';
    height: 32px;
    position: absolute;
    background-color: rgb(31, 44, 75);
}

.page-header {
    display: flex;
    height: 56px;
    padding: 0px;
    width: 100%;
    height: 56px;
    max-width: 1750px;
}

#login-btn {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 20px;
}

.top-nav-container {
    background-color: rgb(31, 44, 75);
    height: 32px;
    margin: auto;
    font-size: 16px;
    width: 100%;
    top: 56px;

}

.login-pupup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: red;
    border: 5px solid black;
    border-radius: 8px;
    width: 500px;
    max-width: 80%;
}

.login-header {
    padding: 10px 15px;
    display: flex;
}

#overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
}

/*BODY*/

.content-block {
    background-color: rgb(27, 29, 36);
    max-width: 1750px;
    margin: auto;
}

.host {
    font-style: italic;
    font-size: 12px;
}

.main-content {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

hr {
    height: 1px;
    background-color: #1f74b1;
    border-color: #1f74b1;
}

/*FOOTER*/

footer {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding: 0.5px;
}

.footer-links-container {
    background-color: orange;
    padding: 10px;
    margin: 20px 0px;
    font-size: 20px;
}

a {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(31, 116, 177);
}

a:active {
    color: rgb(128, 31, 177);
}

/* Images page */

.images-container {
    background-color: aliceblue;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}