* {
    box-sizing: border-box;
}

/* .site {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
} */

body {
    background-color: rgb(20, 19, 34);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: 10px 0px;
    -webkit-text-stroke: 2px rgb(46, 39, 100);
}

p {
    text-align: center;
    font-size: 20px;
}

/* General button */

.button {
    width: 80px;
    height: 40px;
    background-color: rgb(94, 41, 184);
    color: rgb(255, 255, 255);
    border-radius: 8px; /*roundness of button*/
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: rgb(164, 74, 228);
    }
    &:active {
        background-color: rgb(94, 41, 184);
    }
}

.hidden {
    display: none;
}

/*HEADER*/

.page-header-container, .page-header-container::after {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: rgb(35, 31, 66);
}

.page-header-container::after{
    content: '';
    height: 40px;
    position: absolute;
    top: 70px;
    background-color: rgb(46, 39, 100);
}

.page-header {
    position: relative;
    display: flex;
    height: 70px;
    padding: 0px;
    max-width: 1750px;
    margin: auto;
}

#logo {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 50px;
    height: 50px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid white;
}

#login-btn {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 20px;
}

.top-nav-container {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin: auto;
    font-size: 18px;
    width: 100%;
    top: 70px;
    z-index: 2;
}

.nav-btn {
    text-decoration: none;
    font-weight: 600;
    padding: 0.3em 0.4em;
    &:hover {
        background-color: rgb(164, 74, 228);
        color: rgb(255, 255, 255);
        border-radius: 8px;
    }
}

.loginPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 100;
    background-color: red;
    border: 5px solid black;
    border-radius: 8px;
    width: 500px;
    max-width: 80%;
    height: 400px;
}

.loginPopup.active {
    transform: translate(-50%, -50%) scale(1);
}

.login-header {
    padding: 10px 15px;
    display: flex;
}

#overlay {
    position: fixed;
    margin: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgb(35, 31, 66, .5);
    z-index: 5;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*BODY*/

.content-container {
    display: flex;
    /* Add columns for flex */
    justify-content: center;
    min-height: 100vh;
    max-width: 1750px;
    margin: 155px auto auto auto;
}

.host {
    font-style: italic;
    font-size: 12px;
}


.background_image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 500px;
    width: auto;
    background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*FOOTER*/

footer {
    background-color: rgb(35, 31, 66);
    text-align: center;
    font-size: 12px;
    line-height: 1.2em;
    padding: 1rem 0;
    margin: 0;
    height: 150;
}

.footer-links-container {
    line-height: 1.5em;
    margin: 1em 0;
    font-size: 20px;
}

a {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(178, 112, 228);
}

a:active {
    color: rgb(188, 107, 228);
}

/* Images page */

.images-container {
    display: flex;
    min-width: 80em;
    gap: 2em;
    max-width: 1750px;
    overflow-x: auto;
    margin: 3em;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.card {
    scroll-snap-align: start;
}

img {
    max-width: 800px;
    border-radius: 2em;
    object-fit: scale-down;
}

#image-ref {
    font-size: 16px;
}

/* Contact page */

#successMessage {
    margin: 3em 0 0 0;
}

form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

form input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(46, 39, 100);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 200;
    padding: 1em;
    border: none;
    display: flex;
    align-items: start;
    &:focus {
        outline: 2px solid rgb(164, 74, 228);
    }
}

#email, #phone, #message, #submitBtn {
    width: 800px;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message {
    height: 200px;
}

#submitBtn {
    width: 150px;
}

/* Calculator page */

.list {
    margin: 4em 0;
}

.list p {
    text-align: left;
    font-size: 1rem;
}

#calculateBtn {
    grid-column: span 3;
    min-width: 150px;
}

#calculatorContainer {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: 2fr;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

#calculatorContainer input {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(46, 39, 100);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 200;
    padding: 1em;
    border: none;
    display: flex;
    align-items: start;
    &:focus {
        outline: 2px solid rgb(164, 74, 228);
    }
}

#calculatorContainer p {
    font-size: 1.5em;
    font-weight: 900;
}
